<html>
    <body>
        <form method="post" action="/new">
            <label for="username">Enter the UserName of the recieved User</label>
        <input type="text" id="username" name="username" required>
        <label for="message">Write your Message here</label>
        <input type="text" id="message" name="message" required>
        <button type="submit">Submit</button>
        </form>
    </body>
</html>